.screen{
  width: 100%;
  height: 900px;
  border: 1px solid red;
  z-index: 99;
}
.dragging-box{
  width: 10%;
  height: 10%;
  position: absolute;
  z-index: 100;
  border: 1px solid red;
}
.circle{
  display: block;
  width: 50px;
  height: 50px;
  background-color:rgba(212, 225, 245, 0.1);
  border:1px solid #bfd8ff;
  border-radius: 50%;
  transform: scale(0); 
  animation: ripple 150ms;
}

@keyframes ripple {
	to {
    opacity: 1;
    transform: scale(1.3); 
	}
} 
.circle-drag{
  opacity: 1;
  transform: scale(1.3); 
} 
